body {
    background-color:#1a273d ;
  }

h1{
    color: #f5f4e9;
    font-family: 'Merriweather', serif;
    font-size: 60px; 
    text-align: center;
    height: auto;
    margin-top: 200px;
}

img{
    width:100px;
    height:100px;
    opacity: 0;
    filter: alpha(opacity=0);
}
    img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    }