body {
    background-color:#1a273d ;
  }

h1{
    color: #f5f4e9;
    font-family: 'Merriweather', serif;
    font-size: 60px; 
    text-align: center;
    height: auto;
    margin-top: 200px;
}

img.ning{
    width:100px;
    height:100px;
    opacity: 0;
    filter: alpha(opacity=0);
    padding-left: 45%; 
    
}

    img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    }

img.lewis{
    width:100px;
    height:100px;
    opacity: 0;
    filter: alpha(opacity=0);
    padding-left: 55%;
}
    img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    }


.weeknumbers{
    color: #c9d4c5;
    font-family: 'Merriweather', serif; font-weight: lighter;
    font-size: 15px; 
    text-align: center;
    height: auto;
    margin: 600px, center;    

}