
    body {
      background-color: white;
      margin-bottom: 60px;
    }
    
    h1 {
      position: absolute;
      right: 0;
      left:  70%;
      color: #c2cacf;
      font-family: 'Inria Serif', serif;
      font-size: 35px; 
      text-align: center;
      height: auto;
      width: 300px;
      
    }

    p {
      color: grey;
      font-family: 'Open Sans', sans-serif;
      font-size: 16x; 
      text-align: left;
      height: auto;
      width: 900px;
      position:absolute;
      top: 30%;
    }
    
    img {
    position: absolute;
    left: 40%;
    bottom:-20%;
    }
    
    .strengths{
      position: absolute;
      color: grey;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px; 
      text-align: left;
      letter-spacing: 0.2px;
      top: 70%
     }

  
  
   ul {
      position: absolute;
      color: grey;
      font-family: 'Open Sans', sans-serif, light;
      font-size: 15px; 
      text-align: left;
      height: auto;
      width: 900px;
        }

  .partner{
      position: absolute;
      color: grey;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px; 
      text-align: left;
      letter-spacing: 0.2px;
      top: 100%;
     }


a{
      color: #b8d8be;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
}
     