
    body {
      background-color: white;
    }
    
    h1 {
      color: #c2cacf;
      font-family: 'Playfair Display', serif;
      font-size: 35px; 
      text-align: center;
      height: auto;
      width: 170px;
      background-color: #0e1d2a;
      padding: 20px 0px 20px 0px;
      margin-left: 0px;
      margin-bottom: 30px;
    }
    
    p {
  color: grey;
      font-family: 'Playfair Display', serif;
      font-size: 18px; 
      text-align: left;
      height: auto;
      width: 900px;
      background-color: white;
      padding: 10px 30px 10px 0px;
      margin-left: 0px;
      margin-bottom: 100px;
    }