body {
  background-color: #fffcfa
}

.circle{
    position: absolute;
    right: 0px;
    width: 580px ;
    height: 580px;
    background-color: #ffd58a;
    border-radius: 50%;
    margin-top: -20%; margin-right: 100px;
}

.intro {
  position: absolute;
  left:50%;
  top: 40%;
  transform: translate(-50%,-50%);
  color: #558c81;
  font-family: 'Josefin Sans', sans-serif; font-weight: 700;
  font-size: 20px;
  text-align: center;
}

img {
  align-content:center;
}

.introtext {
    position: absolute;
    left: 0px;
    width: 500px;
    height: 500px;
    box-shadow: 8px 2px;
    background-color: #fbf4ef;
    border-radius: 50%;
    margin-top: 5%; margin-left: 30px;
}

.text {
  color: #174a6b;
  font-family: 'Josefin Sans'; font-weight: 300;
  line-height: 24px;
  font-size: 16px;
  margin-top: 20px;
  padding: 20%;
  text-align: center;
}

.strengths {
  color: #558c81;  
  position: absolute;
    right: 0px;
    width: 35%;
    margin-top: 25%;
    font-family: 'Josefin Sans'; font-weight: 300;
    font-size: 14px;
    text-align: right;
    padding-right: 100px;
   line-height: 25px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #174a6b;
}

a:hover {
  color: #ffd58a;
}

.strength {
  background-color: transparent;
  color: #174a6b;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 18px;
  font-family: 'Josefin Sans'; font-weight: 700;
}

.active, .strength:hover {
color: #ffd58a;
}

.content {
  padding-left: 100px;
  display: none;
  overflow: hidden;
}