.weeknumber {
    position: absolute;
    left:50%;
    top: 15%;
    transform: translate(-50%,-50%);
    color: #a08746; 
    font-family: 'Merriweather', serif;
    font-size: 60px; 
     
}


body {
background-color: #f5f4e9;
}

p.bktomain {
    position: absolute;
    left:50%;
    padding-bottom: 20px;
    transform: translate(-50%,1015px);
    color: #a08746;
    font-family: 'Merriweather', serif;
    font-size: 20px; 
    text-align: center;
     
}

.weeknumbers {
font-size: 15px; 
}

a:link {
    color: #c9d4c5;
    text-decoration: none;
}

p.top {
margin-top: 30px;
text-align: center;
padding-left: 120px;
padding-right: 120px;
padding: 0, 60%;
line-height: 2;
color: #a24d37; 
font-family: 'Merriweather', serif;
font-size: 13px; 
}

.microbit{
  position: absolute;
  text-align: center;
  margin-top: 200px;

}


img.umbrellatest{

   margin-top: 30px;
   
}