.weeknumber {
    position: absolute;
    left:50%;
    top: 50px;
    transform: translate(-50%);
    color: #a08746; 
    font-family: 'Merriweather', serif;
    font-size: 60px; 
    animation-name: week;
    animation-duration: 2s;
}

@keyframes week {
  0%   {opacity: 0%; top: 0px;}
  100% {opacity: 100%; top: 50px;}
}


body {
background-color: white;
}

p.bktomain {
    position: absolute;
    left:50%;
    padding-bottom: 20px;
    transform: translate(-50%,1015px);
    color: #a08746;
    font-family: 'Merriweather', serif;
    font-size: 20px; 
    text-align: center;
     
}

.weeknumbers {
font-size: 15px; 
}

a:link {
    color: #c9d4c5;
    text-decoration: none;
}

p.top {
margin-top: 30px;
text-align: center;
padding-left: 120px;
padding-right: 120px;
padding: 0, 60%;
line-height: 2;
color: #a24d37; 
font-family: 'Merriweather', serif;
font-size: 13px; 
}

.microbit{
  position: absolute;
  text-align: center;
  margin-top: 200px;

}


img.umbrellatest{

   margin-top: 30px;
   
}

.nextweek{
    color: #a08746;
    position: absolute;
    left: 50%;
    font-family: 'Merriweather', serif;
    font-size: 14px; 
    text-align: center;
    text-decoration: none;
    transform: translate(80px, 550px);
    transition: all .3s ease;
    padding-bottom: 10px;
}

.nextweek:hover {
    color: #a24d37;
    text-decoration: none;
    transform: translate(85px, 550px);
    transition: all .3s ease;
}

.lastweek {
    color: #a08746;
    position: absolute;
    left: 50%;
    font-family: 'Merriweather', serif;
    font-size: 14px; 
    text-align: center;
    text-decoration: none;
    transform: translate(-100px, 550px);
    transition: all .3s ease;
}

.lastweek:hover {
    color: #a24d37;
    text-decoration: none;
    transform: translate(-105px, 550px);
    transition: all .3s ease;
}
