.weeknumber {
    position: absolute;
    left:50%;
    top: 50px;
    transform: translate(-50%);
    color: #a08746; 
    font-family: 'Merriweather', serif;
    font-size: 60px; 
    animation-name: week;
    animation-duration: 2s;
}

@keyframes week {
  0%   {opacity: 0%; top: 0px;}
  100% {opacity: 100%; top: 50px;}
}


body {
background-color: white;
}

.weeknumbers {
font-size: 15px; 
}

a, a:link, a:visited {
    color: #a08746;
    text-decoration: none;
}

a:hover{
      color: #a24d37;
}
.container {
position: relative;
text-align: center;
word-spacing: 50px;

}

p.top {
margin-top: 180px;
text-align: center;
padding: 10%, 60%;
line-height: 2;
color: black; 
font-family: 'Merriweather', serif;
font-size: 14px; 
}

.microbit{
position: absolute;
margin-top: 10px;
text-align: center;
}

p.bottom {
margin-top: -10px;
padding-bottom: 40px;
padding-left: 50px;
padding-right: 50px;
text-align: center;
line-height: 2;
color: black; 
font-family: 'Merriweather', serif;
font-size: 13px; 
}


p.bottom2{

margin-top: 20px;
padding-bottom: 40px;
padding-left: 70px;
padding-right: 70px;
text-align: center;
padding: 0, 60%;
line-height: 2;
color: black; 
font-family: 'Merriweather', serif;
font-size: 13px;
}

.spin{
    position: relative;
    text-align: center;
  }
  
  
.light{
    position: relative;
    text-align: center;
  }

.video{
position: relative;
text-align: center;
word-spacing: 100px;
}

p.bktomain {
    position: absolute;
    left:50%;
    padding-bottom: 20px;
    transform: translate(-50%,500px);
    color: #a08746;
    font-family: 'Merriweather', serif;
    font-size: 20px; 
    text-align: center;
}

.nextweek{
    color: #a08746;
    position: absolute;
    left: 50%;
    font-family: 'Merriweather', serif;
    font-size: 14px; 
    text-align: center;
    text-decoration: none;
    transform: translate(80px, 200px);
    transition: all .3s ease;
    padding-bottom: 10px;
}

.nextweek:hover {
    color: #a24d37;
    text-decoration: none;
    transform: translate(85px, 200px);
    transition: all .3s ease;
}

.lastweek {
    color: #a08746;
    position: absolute;
    left: 50%;
    font-family: 'Merriweather', serif;
    font-size: 14px; 
    text-align: center;
    text-decoration: none;
    transform: translate(-100px, 200px);
    transition: all .3s ease;
}

.lastweek:hover {
    color: #a24d37;
    text-decoration: none;
    transform: translate(-105px, 200px);
    transition: all .3s ease;
}